#container {
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#menu-box {
    flex-basis: 700px;
}

.menu-row {
    flex-direction: row;
    flex-basis: 65px;
    margin-bottom: 10px;
}

.menu-row > * {
    font-size: 24px;
}
